.todo-container {

}

body{
  background-color: #f4f4f4;
  padding-top: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: center;

}

nav

.main_card{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
